.button {
	padding: 10px 20px;
	margin: 0px auto;
	display: block;

	color: #fff;
	background-color: @color-base;

	text-decoration: none;

	border-radius: 20px;
	width: 150px;

	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
			transition: all 0.5s ease;

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: @color-base-darken;
	}
}
	.button-big {

	}