::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: @color-base;
}

input[type="text"],
input[type="password"] {
	width: 100%;

	background-color: #fff;
	padding: 10px 20px;
	margin: 0px 0px 20px -20px;

	color: @color-base;
	border: 1px solid @color-base;

	display: block;
}
input[type="submit"] {
	background-color: #fff;
	color: @color-base;

	border: 1px solid @color-base;
}