.msg {
	position: relative;
	cursor: pointer;

	width: auto;
	margin: 0px 20px 20px 20px;

	background-color: #ECECEC;

	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	        transition: all 0.3s ease;

	&:hover {
		.msg__id {
			left: -15px;
		}
	}
}
	.msg__id {
		position: absolute;
		top: 20px;
		left: -10px;

		padding: 5px 10px;
		background-color: #000;

		font-size: 10px;
		letter-spacing: 0.1em;
		color: #fff;

		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		        transition: all 0.3s ease;
	}
	.msg__content {
		padding: 20px 20px 20px 70px;
	}
	.msg__date,
	.msg__msg {
		display: block;
	}

	.msg__date {
		margin-bottom: 10px;
		font-weight: @font-weight-bold;
	}
	.msg__msg {

	}
	.msg__edit {
		padding: 20px;

		.btn {
			border: none;
		}

		input,
		.input-group,
		select {
			border: none;
			margin: 0px 0px 10px 0px;
		}
	}

	.msg--active {
		.msg__id {
			left: -15px;
		}
	}

	/** Message types **/
	.msg--birthday {
		.msg__id {
			background-color: @color-birthday;
		}
	}
	.msg--child {
		.msg__id {
			background-color: @color-child;
		}
	}