html {
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.cf {
  clear: both;
}
.app {
  height: 100%;
  border-top: 1px solid #ECECEC;
  background: #f1f8ff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYzRjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JkYzRjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #f1f8ff 0%, #f1f8ff 50%, #ffffff 50%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f1f8ff), color-stop(50%, #f1f8ff), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f1f8ff 0%, #f1f8ff 50%, #ffffff 50%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f1f8ff 0%, #f1f8ff 50%, #ffffff 50%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f1f8ff 0%, #f1f8ff 50%, #ffffff 50%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #f1f8ff 0%, #f1f8ff 50%, #ffffff 50%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(241, 248, 255)', endColorstr='#ffffff', GradientType=1);
  /* IE6-8 */
}
.container {
  margin: 0px auto;
  width: 100%;
  max-width: 900px;
  height: 100%;
}
.container .sidebar {
  height: 100%;
  width: 25%;
  float: left;
}
.container .sidebar .inner {
  height: 100%;
  border-right: 1px solid #ECECEC;
  padding: 20px 0px 0px 0px;
}
.container .sidebar .inner .cats > a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding: 10px 5px;
  border-right: 0px solid #e85153;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .sidebar .inner .cats > a:hover,
.container .sidebar .inner .cats > a.active {
  color: #e85153;
  border-right-width: 2px;
}
.container .content {
  height: 100%;
  width: 75%;
  float: left;
  padding: 20px 0px 0px 0px;
  background-color: #fff;
}
header {
  text-align: center;
}
.topbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
}
.logo {
  margin: 0px;
}
.logo a {
  font-family: 'Signika', sans-serif;
  font-size: 55px;
  color: #e85153;
  text-decoration: none;
  margin: 0px;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #777777;
}
input[type="text"],
input[type="password"],
select {
  outline: none;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  margin: 0px 0px 20px -20px;
  color: #777777;
  border: 1px solid #e85153;
  border-radius: 4px;
  display: block;
}
input[type="submit"] {
  outline: none;
  cursor: pointer;
  background-color: #e85153;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #b74143;
}
select {
  -webkit-appearance: none;
  background: #ffffff url('http://i45.tinypic.com/309nb74.png') center right no-repeat;
  background-position-x: 98%;
}
.msg {
  position: relative;
  cursor: pointer;
  width: auto;
  margin: 0px 20px 20px 20px;
  background-color: #ECECEC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.msg:hover .msg__id {
  left: -15px;
}
.msg__id {
  position: absolute;
  top: 20px;
  left: -10px;
  padding: 5px 10px;
  background-color: #000;
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.msg__content {
  padding: 20px 20px 20px 70px;
}
.msg__date,
.msg__msg {
  display: block;
}
.msg__date {
  margin-bottom: 10px;
  font-weight: 700;
}
.msg__edit {
  padding: 20px;
}
.msg__edit .btn {
  border: none;
}
.msg__edit input,
.msg__edit .input-group,
.msg__edit select {
  border: none;
  margin: 0px 0px 10px 0px;
}
.msg--hide {
  opacity: 0;
  height: 0px;
}
.msg--active .msg__id {
  left: -15px;
}
/** Message types **/
.msg--birthday .msg__id {
  background-color: #057d9f;
}
.msg--child .msg__id {
  background-color: #5a9800;
}
.button {
  padding: 10px 20px;
  margin: 0px auto;
  display: block;
  color: #fff;
  background-color: #e85153;
  text-decoration: none;
  border-radius: 20px;
  width: 150px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #b74143;
}
.hero {
  width: 100%;
  height: 100%;
  min-height: 500px;
  text-align: center;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%), url('../images/5854362904_b12e83e0be_o.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.hero__inner {
  padding: 100px 0px 20px 0px;
}
.hero__title {
  color: #fff;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  display: block;
}
.hero__button.button {
  margin: 50px auto 20px auto;
}
.hero__button.button.hero__button--hide {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: -50px;
  opacity: 0;
}
.hero__login {
  width: 300px;
  margin: 0px auto 100px auto;
  margin-top: 50px;
  opacity: 0;
}
.hero__login.hero__login--shown {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 0px;
  opacity: 1;
}
.hero__login input {
  margin-left: 0px;
}
